/*
 * Empty Stylesheet file.
 */

.mainFxmlClassUnselected {
    -fx-background-color: darkgray;
    -fx-border-width: 0;
}

.mainFxmlClassSelected {
    -fx-background-color: lightgray;
    -fx-border-color: cyan;
    -fx-border-width: 3;
}

.RealmNode{
    -fx-min-width: 300px;
    -fx-min-height: 300px;
}