/*
 * Empty Stylesheet file.
 */

.mainFxmlClassUnselected {
    -fx-background-color: #000000;
    -fx-border-width: 0;
}

.mainFxmlClassSelected {
    -fx-background-color: #000000;
    -fx-border-color: #007f87;
    -fx-border-width: 3;
}
